<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
  </configSections>
  <appSettings>
    <add key="LoginUser" value="Q7VcJb+w1WVW4zGqyGyPT1iEwIYSMAgirN7CP8GZbgWLEDUzOegrfxQgL/gt1ZJKY9JO1TEG4gZevPnbuLajQ6JZxiTFuE7Ob5lM0LPZUtaSzSRa87w1gTJ3p17m3Ms9v6lPHF7TFCVXq0rQ+DETC4Z+2oOnq+WTDCh3B9jn6WDI7TllM57+98c4YhfRCmNgm7Uq301+/t/rkRCj+b++zmPJZeONNGc09KtsikN0Ki63QcEa94Xv95wmjYNDGPnb6FokMJs4EO5n+9CoywFl/2faWcpcjS7aZ8QZrRFdOZCFf/APNriOHbhGverZOu1jZ05xLoq20NaIAJtUhAoLVA=="/>
    <add key="LoginPassword" value="iBAy6NLtg4dX4IeGCzEmYq6FW5hGiy0vG6UnvzyHKx4lK918ikcKxIemingYVi+K9tEsNpKCsXUYrHuctxKuFYCDm06X8NKOcoIPxt9gylFnkGVt6msG7fpN+0Ds7PzOw5Jt9dPPwfL4/MTMjzVp1aVLU3Rz3ONN30taHm7cJr/fccUuyRq7/UNP+TJft02ryH+EZTRAXuIFipoE1IWJynQXb97R1+jGEclHb48pHt0J4W74/yrOyF/8E89VbzEh9b3Zo37QYYDI7XK3I75iJO/S8HgDyFRN0vNysQEVAPGiyHVZE7tJekT5RQN/HtbLoIQnfYF0IBosjREumyOn8Q=="/>
    <add key="BackupUser" value="i+U/z/Er5smgay/HNexY/f+4H9DhLUVzHFRdkKxdMB1NjR4WHYVQ8JQiT0vUl0bOOOOPgp9odLuhbsleq077K89TEFYH5VNwQnhlq4h06yljWjReqr60MO0SRbM3fbS0wZaH4mErvP01nLOV8lSJfyNyZrytHQMZZc3gaxBLnGf0sbgQYXmRYhCm4pbMt21u191L23Whbg9DOAf3Yk7hGF1CrUX9YH7oQQPFElO2tHagX4RvvsAczxa5cXto5X/9Q85sD1oub60kIJIwz3PX20iamf+X2UUMJAbBIZ2k164zR6NL+JQgGVnIQF9B9bXe2d/8JlMdlw6CYuhy4z0/XA=="/>
    <add key="BackupPassword" value="D0zxWBqXUXnETg229qhmI4HupqJ1EJhn93gBlmcyqRFM8zDqVzJlxSWQtc5AdGXsDq7XjAvsfIZ45IcxuY4CNElyUyyMBGtL+190Wg/aBm2Fw2qceiLUHyp8EMe/VVB6H/hRxo5PSCtcmFb4Gze13J/pa3mbxCM2ZH1OtZo4GWtATSW/c/CeKDmtVIj7oGAxIEgFSeLB6K+bzh5baBJfCbkx1vj4iVg9BscUyhbLf5gRlByg6BbI1LzRD2NCF+9e2HsTcYs8CwBp1UCwYD07vKku+xzJzoMboZ5VnSf/Ovf1EUok/mUQdqkVLqdoEhRhfxA6L9ade7i9+gpaC5q//Q=="/>
    <add key="DatabaseHost" value="localhost"/>
    <add key="DatabaseName" value="puntoventa"/>
    <add key="MySQLDumpOptions" value="--complete-insert --no-create-info --default-character-set=utf8"/>
    <add key="TargetFtpSource" value="ftp://127.0.0.1/luqueyvale"/>
    <add key="TargetFtpSecureUser" value="TK4LUoV0n1+MTBOXoJ3BRfY7G9l7v3kvXjGglw2MhkZVyZdOF5Tc/V/wn++KfrxJS9Jwpx6HYyypS1Lte1TcL2DPKPhJFIGNpVYi9ZmUfDJWr5XqnoaN927aRUV1ug5nTthO6+FadsFpCU7bCiqVxOXj9Ka8UlPfTfi0VlGwxhT6jgAYz9gxDeh7dSWU6WZuEWAh+UqsQ8aMpZvphwfnfoq4rDORA07wyBed5rcz6opfmvn4TUfOI1bk7kfjxhSU5G9Tp4wP0zjKQtd9e/3LBBypgdgsNGkLoTPYMDknlzdeZDxaHJUd5ib/LPdlFbv6r8pJBZufdM4LGPZiccwG8Q=="/>
    <add key="TargetFtpSecurePass" value="E/ThJ8Rj4Q6QuFLXUGQMM0AKxRKzhPw9LlKjpFifIIOgT1TfQblB/UEJYfU+IQLobUDJhwPUz5uPs3e20BKWRE0IxXIRjhOwp41vk+SR9zKjYurBNhpOMxH46x0JWMk1GWqj0kjEwYcMtM74pMJ5PPWjn0j6TGbxLhgXrGRhHkzOOTlYu7UZxjCMtsx0ftTq9mtyP0msqloNdaX8vId60bBzck5PrfX7j0z4DSc2J0/a+sXrVpPxjSqSL3kOfiOlYf+BGQV/5NnwFt/8xl0mFLxCgjDD5YZezxw8lb+p28YUDuxSZMeCFKI5GoakVQe7spew6VMWA/DBKNiTDxPeRg=="/>
    <add key="ApplicationThumbprint" value="E7C81DBE787480356FCD8E4E8F829B0F4DF57ECD"/>
  </appSettings>
  <connectionStrings>
    <add name="LeandroContext" connectionString="" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, 
        MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="errorLogFile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MM-yyyy"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="LeandroSoftware.PuntoVenta.Datos.ContextoPrincipal.AppSettingParameterValueExtension, Datos"/>
    <container>
      <register type="LeandroSoftware.PuntoVenta.Datos.ContextoPrincipal.IDbContext, Datos" mapTo="LeandroSoftware.PuntoVenta.Datos.ContextoPrincipal.LeandroContext, Datos">
        <constructor>
          <param name="host" type="System.String">
            <appSettings appSettingsKey="DatabaseHost"/>
          </param>
          <param name="database" type="System.String">
            <appSettings appSettingsKey="DatabaseName"/>
          </param>
          <param name="user" type="System.String">
            <appSettings appSettingsKey="LoginUser"/>
          </param>
          <param name="pass" type="System.String">
            <appSettings appSettingsKey="LoginPassword"/>
          </param>
          <param name="key" type="System.String">
            <appSettings appSettingsKey="ApplicationThumbprint"/>
          </param>
        </constructor>
      </register>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IBancaService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.BancaService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.ICompraService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.CompraService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IContabilidadService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.ContabilidadService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.ICuentaPorCobrarService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.CuentaPorCobrarService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.ICuentaPorPagarService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.CuentaPorPagarService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IEgresoService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.EgresoService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IFacturacionService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.FacturacionService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IIngresoService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IngresoService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.ITrasladoService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.TrasladoService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IMantenimientoService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.MantenimientoService, Servicios"/>
      <register type="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.IReporteService, Servicios" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContextoPrincipal.ReporteService, Servicios"/>
    </container>
  </unity>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBackupService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IBackupService">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BackupServiceWCF/BackupServiceWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackupService"
        contract="IBackupService" name="BasicHttpBinding_IBackupService" />
      <endpoint address="https://localhost/BackupServiceWCF/BackupServiceWCF.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IBackupService"
        contract="IBackupService" name="wsHttpBinding_IBackupService" />
    </client>
  </system.serviceModel>-->
</configuration>
