/packages/
/padron/
/Setup/Installer/
bin/
obj/
App_Data/
.vs/
errorLog*.*
.DS_Store

ServicioWeb/Endpoints/Web.*

mobileapp/build/
mobileapp/*.pbxuser
mobileapp/!default.pbxuser
mobileapp/*.mode1v3
mobileapp/!default.mode1v3
mobileapp/*.mode2v3
mobileapp/!default.mode2v3
mobileapp/*.perspectivev3
mobileapp/!default.perspectivev3
mobileapp/xcuserdata
mobileapp/*.xccheckout
mobileapp/*.moved-aside
mobileapp/DerivedData
mobileapp/*.hmap
mobileapp/*.ipa
mobileapp/*.xcuserstate
mobileapp/project.xcworkspace

# Android/IntelliJ
#
mobileapp/android/build/
mobileapp/android/app/build/
mobileapp/.idea
mobileapp/android/.gradle
mobileapp/local.properties
mobileapp/*.iml

# node.js
#
mobileapp/node_modules/
mobileapp/npm-debug.log
mobileapp/yarn-error.log

# BUCK
mobileapp/buck-out/
mobileapp/\.buckd/
mobileapp/*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

mobileapp/*/fastlane/report.xml
mobileapp/*/fastlane/Preview.html
mobileapp/*/fastlane/screenshots

# Bundle artifact
mobileapp/*.jsbundle

# CocoaPods
mobileapp/ios/Pods/

#Env
mobileapp/.env
mobileapp/.env.production
/WebAPI/WebServer/appsettings.Development.json
