<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="errorLogFile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="dd-MM-yyyy" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="ServicioPuntoventaURL" value="http://www.jlcsolutionscr.com.preview.my-hosting-panel.com/PuntoventaWCF/PuntoventaWCF.svc" />
    <add key="AppThumptprint" value="E7C81DBE787480356FCD8E4E8F829B0F4DF57ECD" />
    <add key="ApplicationKey" value="o6uwYL5JN+AQvmt516L+JYmcbN/4T6gP4DxHH7xZ7e5WURdILHV3EPEbVdnZOOe5kRUp72CV6KfJ7uR5afPivBI/tJq8YCOyEC9+OBKdbxU3uCk9SrYJr/vlHv4QQY82xlirZQCE+SjrZPxX6fJMCmsY00WQCWOb0LYdBMWYVDutdhJcgY0f8nU6NKvapCc3t6jin8fsGS1axrfnJNbu3g0c8MEuWbAw9ZM5bJkCg0WAJHH8+wYdQff4kOVfGKCdFbzOPL1boZR1HIwfxuzpLQ3Z0DBrLrq8Bj2NOUjmIq+1pXid8CQGy/RHsoN31a4Bhcj4pWaDJgo2aPrX2gVRow==" />
    <add key="Identificacion" value="" />
    <add key="Sucursal" value="1" />
    <add key="Caja" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>