<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="errorLogFile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="dd-MM-yyyy" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="Service">
        <register type="LeandroSoftware.PuntoVenta.Servicios.IBancaService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.BancaService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.ICompraService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.CompraService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.IContabilidadService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.ContabilidadService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.ICuentaPorCobrarService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.CuentaPorCobrarService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.ICuentaPorPagarService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.CuentaPorPagarService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.IEgresoService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.EgresoService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.IFacturacionService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.FacturacionService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.IIngresoService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.IngresoService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.ITrasladoService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.TrasladoService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.IMantenimientoService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.MantenimientoService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.IReporteService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.ReporteService, ServiciosApp" />
        <register type="LeandroSoftware.PuntoVenta.Servicios.IRespaldoService, ServiciosApp" mapTo="LeandroSoftware.PuntoVenta.Servicios.RespaldoService, ServiciosApp" />
      </container>
    </containers>
  </unity>
  <appSettings>
    <add key="LoginUser" value="TQBAhQqyR4ufTdMGU9+/voV3RinI++LTsQCjMR+gYRybpYmd6Fu40QnXZVQOjf+K1zXokordCkL0a/P/CZwRk3WjyirThZHDXtnAmfhsNflGMVoGDhENoP2NEuFbu4cKXBLjm9rCmS5p7HmlluhY5SnRunxQezvoAUiJlztB5v4k2gQmrEh/tlLlxGl+MNREmYrcEWxwAshaAnlKgDpMFDOppPUABouym1HHFD0V4ilvcITSHvUUErW0cDwL9h1nkoIyi5F/KR915MYj4bd1vjcvWmarJWGn+dgF91D+JHaELYuMVSMWa0PzPZgXToTw0nBpfhTA7dYpm6tTWvSZRA==" />
    <add key="LoginPassword" value="k9XsA61N3GQMVK8liifv0iJK4PQrj8fnBJJ8x4fd2u+ssEbMZr3UWx+F86K/s/PdcDMHxkXd+kRtd22iFbCRGNIm/9Mv8D1anxFxfdVK8+HyVZcpRNIqn+pWX7xww4iiSOfzkYka5JMn7qYhq9TYWuFHtaxnfl+nw+UO0BfG+V/aWkdI1I8/rPDprBGE0PxYEYIsK9ZdJUE0kZu+/q0XjA2UnANKrfjURGlKS2i6wmfVB7/tI6qf/zMxXRCWa4Acjcjq40BmzdA1I71ls9QQAp5q0d1wgPj30YWIyY3wRBTKpPPMn6OZz0qpfj3ZqWuNh+r/7yAXl8pW4x+xClgGiA==" />
    <add key="DatabaseHost" value="localhost" />
    <add key="DatabaseName" value="pilabarber" />
    <add key="BackupUser" value="KXqF+HUeNibcfB1mmmylP/rr1qxUSMG1VHPEoGKOR14jwPQmp4G2fXW7QTyxEV5IAjSdcP/FMRZGhI+IwuyBVHmu4/yDhrm2zSenU9QC/gGoLWaFl2bpjTEiREfum7nnaPNyb5zcEFbMb5pD32cx2cW197W+vMOpmparyi5qvC++ELnZJ1tQUwarV0l8hiMYiIE0UY3nXECYdUKUIiMVMpuhT3dHEnx7NJkhoAVAVKl/msYSV1PGQz0l1DRueEoS29Mkns6H4mKQQm9KjuriiG9SYoesXv7GwWLLiWvmH0oC4UC8B9IsQ+DIsZ3GuC4HcE2bS9BHlZ4a7V0OrWHfvw==" />
    <add key="BackupPassword" value="OLwG9ztNZ6NiRfbEzRlMe7jSANf6mZVFxa8PxQPYvJL75qudoDkbjA/hJ99KIl2YuubI7Yh7ncInp1hCXfPLKGgxsFtKfmPLcebIpVmdTyDCZVIuVq7fG6nrK6fJRZ1S7qNG3bpRinow2RMkA14VlO6IdYU66XajaIlmbl57NRF+qvF1YYZGLgL72EUazsN7QfDEoPUEwrbA/nl9YAm3GWGkKj1JPdJ7OmxpzfZFGgh3eaBWKdMmfbfADYGMQvA3GXj4BBTcok9M4egq49zrm3vl08HZeuDCh3SZn+JzD5wQvXodl8vV/STgg84M6TBQmXZtDCUR8rEZG5t4IERWPw==" />
    <add key="MySQLDumpOptions" value="--complete-insert --no-create-info --default-character-set=utf8" />
    <add key="BackupServer" value="" />
    <add key="SubjectName" value="leandro.software.net" />
    <add key="ApplicationKey" value="WzoBqWM1ozgC4GtHUWnwp8ruCbT8oYaOia3qdLewaq52hy1vrSv54uP5YdbDJckYXReCjwjF/IvujVt2EyYqgRCg7eyuI+zowYg9f4qPQStyxq02iD0ZXce1P6JuzFMVfDyLRIZFbzS01lKiwG2jL6HKCtk2ekDRbl8HIvA9jPG90PX6HCSw1qxCO9HQI+D1Sh/WhLdXJMcWGrETSN7y8nMi1QJ14nu6Ni13GvkYRhvrMizDTQmmMn2PBPjLY0N9yt4nx2fm5MMZb1qKx1ml9gf/OwEnKI5PEqBC2CSNXPLC3JIdNbPJyjcClv/FDDgBPhzAH/9/DihKzVJjFDQQ5Q==" />
    <add key="Sucursal" value="1" />
    <add key="Caja" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="LeandroContext" connectionString="" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.11.0" newVersion="5.8.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>