<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServicioURL" value="https://dev-webservice.jlcsolutionscr.com/puntoventa" />
    <add key="IdEmpresa" value="2" />
    <add key="IdSucursal" value="1" />
    <add key="Printer" value="PDFPrinter" />
    <add key="AnchoLinea" value="80" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>