<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="errorLogFile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MM-yyyy"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <!--<add key="ServicioPuntoventaURL" value="http://facturaelectronica.webservice.jlcsolutionscr.com/PuntoventaWCF.svc"/>-->
    <!--<add key="ServicioPuntoventaURL" value="http://localhost:2344/PuntoventaWCF.svc"/>-->
    <add key="ServicioPuntoventaURL" value="http://localhost/PuntoventaWCF/PuntoventaWCF.svc"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
