<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="errorLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="dd-MM-yyyy" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="strConsultaIEURL" value="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx" />
    <add key="strSoapOperation" value="http://ws.sdde.bccr.fi.cr/ObtenerIndicadoresEconomicos" />
    <add key="strServicioTokenURL" value="https://idp.comprobanteselectronicos.go.cr/auth/realms/rut-stag/protocol/openid-connect" />
    <add key="strClientId" value="api-stag" />
    <add key="strServicioComprobantesURL" value="https://api.comprobanteselectronicos.go.cr/recepcion-sandbox/v1" />
    <add key="strComprobantesCallbackURL" value="" />
    <add key="ApplicationKey" value="Po78]Rba[%J=[14[*" />
    <add key="smtpEmailHost" value="198.38.83.183" />
    <add key="smtpEmailPort" value="2525" />
    <add key="smtpSSLHost" value="N" />
    <add key="smtpEmailAccount" value="factura.electronica@jlcsolutionscr.com" />
    <add key="smtpEmailPass" value="Factura01$" />
    <add key="facturaEmailFrom" value="factura.electronica-dev@jlcsolutionscr.com" />
    <add key="pop3EmailHost" value="198.38.83.183" />
    <add key="pop3EmailPort" value="110" />
    <add key="pop3IvaAccount" value="recepcion-dev@jlcsolutionscr.com" />
    <add key="pop3IvaPass" value="Recepciondev01$" />
    <add key="pop3GastoAccount" value="recepciongasto-dev@jlcsolutionscr.com" />
    <add key="pop3GastoPass" value="Recepcion2dev01$" />
    <add key="strCorreoNotificacionErrores" value="jloc090281@gmail.com" />
    <add key="recepcionEmailFrom" value="recepcion-dev@jlcsolutionscr.com" />
  </appSettings>
  <connectionStrings>
    <add name="LeandroContext" connectionString="Server=204.93.216.11; Database=jasonCR_puntoventa_dev; UId=jasonCR_conn_dev; Pwd=djaction01$;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <globalization uiCulture="en" culture="en-US" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" />
    <trust level="Full" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="sb">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="autenticationbehavior">
          <tokenValidationBehavior />
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="eb">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="LeandroSoftware.ServicioWeb.EndPoints.PuntoventaWCF" behaviorConfiguration="sb">
        <endpoint address="" behaviorConfiguration="autenticationbehavior" binding="webHttpBinding" bindingConfiguration="basicHttpBinding" contract="LeandroSoftware.ServicioWeb.EndPoints.IPuntoventaWCF" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LeandroSoftware.ServicioWeb.EndPoints.AdministracionWCF" behaviorConfiguration="sb">
        <endpoint address="" behaviorConfiguration="autenticationbehavior" binding="webHttpBinding" bindingConfiguration="basicHttpBinding" contract="LeandroSoftware.ServicioWeb.EndPoints.IAdministracionWCF" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LeandroSoftware.ServicioWeb.EndPoints.RecepcionWCF" behaviorConfiguration="sb">
        <endpoint address="" behaviorConfiguration="eb" binding="webHttpBinding" bindingConfiguration="basicHttpBinding" contract="LeandroSoftware.ServicioWeb.EndPoints.IRecepcionWCF" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="httpsWebBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="basicHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="tokenValidationBehavior" type="LeandroSoftware.ServicioWeb.EndPoints.TokenValidationExtensionElement, EndPoints" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.1.0" newVersion="3.10.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>