<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="errorLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="dd-MM-yyyy" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="strConsultaIEURL" value="https://gee.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx" />
    <add key="strSoapOperation" value="http://ws.sdde.bccr.fi.cr/ObtenerIndicadoresEconomicos" />
    <add key="strServicioTokenURL" value="https://idp.comprobanteselectronicos.go.cr/auth/realms/rut-stag/protocol/openid-connect" />
    <add key="strClientId" value="api-stag" />
    <add key="strServicioComprobantesURL" value="https://api.comprobanteselectronicos.go.cr/recepcion-sandbox/v1" />
    <add key="strComprobantesCallbackURL" value="" />
    <add key="ApplicationKey" value="Po78]Rba[%J=[14[*" />
    <add key="strEmailHost" value="smtp.gmail.com" />
    <add key="strEmailPort" value="587" />
    <add key="strSSLHost" value="S" />
    <add key="strEmailAccount" value="leandro.software.co@gmail.com" />
    <add key="strEmailPass" value="asaoqkxitckqdqio" />
    <add key="strEmailFrom" value="factura.electronica@jlcsolutionscr.com" />
    <add key="strCorreoNotificacionErrores" value="jloc090281@gmail.com" />
  </appSettings>
  <connectionStrings>
    <add name="LeandroContext" connectionString="Server=localhost; Database=facturaelectronica; UId=usuarioConn; Pwd=Mcmddppv090281;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <globalization uiCulture="en" culture="en-US" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" />
    <trust level="Full" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="sb">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="eb">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="LeandroSoftware.ServicioWeb.EndPoints.PuntoventaWCF" behaviorConfiguration="sb">
        <endpoint address="" behaviorConfiguration="eb" binding="webHttpBinding" bindingConfiguration="basicHttpBinding" contract="LeandroSoftware.ServicioWeb.EndPoints.IPuntoventaWCF" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LeandroSoftware.ServicioWeb.EndPoints.AdministracionWCF" behaviorConfiguration="sb">
        <endpoint address="" behaviorConfiguration="eb" binding="webHttpBinding" bindingConfiguration="basicHttpBinding" contract="LeandroSoftware.ServicioWeb.EndPoints.IAdministracionWCF" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LeandroSoftware.ServicioWeb.EndPoints.RecepcionWCF" behaviorConfiguration="sb">
        <endpoint address="" behaviorConfiguration="eb" binding="webHttpBinding" bindingConfiguration="basicHttpBinding" contract="LeandroSoftware.ServicioWeb.EndPoints.IRecepcionWCF" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <protocolMapping>
      <add scheme="http" binding="customBinding" />
    </protocolMapping>
    <bindings>
      <webHttpBinding>
        <binding name="httpsWebBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="basicHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
      <customBinding>
        <binding>
          <droppingInterceptor/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="droppingInterceptor"
           type="LeandroSoftware.ServicioWeb.Interceptor.DroppingServerElement, Interceptor"/>
      </bindingElementExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.11.0" newVersion="5.8.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>