<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="localhost" />
    <add key="Database" value="puntoventatest" />
    <add key="User" value="kBdvEuXK2laPiHxIxvGGaVJ+Yqe9I6wYO6LB5EnLrvkDYrBIANWv/Kh9XmPv2aH1DUMDSXBaMQmEg48yQRM/u9rt5VUOJdG1Ky7IITUJIPOqcZmYJRiHzjlxdlsMKCSd685y+sCSFZz5CfAGqbgY8UgCQLW6rn+BnpYz65ggig2Lvg1by+mLrA+kfj7+zhm7TWcnlVhd5ql3W3aZlQAPHFn5s/IiXnxEKhQ8uxPSdnikIg5cyOEsrHSyAvekeArFMVidVxP4kcYH6onwDuYmu28Uhg+GODZV7TzAiRABsknKyV2MYl1+9y/JzJPD9q+PDJoYaC+d8zZlgb2/iD1FKQ==" />
    <add key="Password" value="XoDxkglv58hFOkSXSme5be/t9viKjPcaYLhBL6qEgXUl/1rRnnRqyhn3t1EoUm77Kf7L79s6PYCjP2UHZIHavzfBBE+tOkbG95/t8KdRyuMUlcBp5xYxjc18yTr/vcto/XbO7kcxNXkTiSSptHKBuL4kK7xfT/tgTKDL4IRgfamKpGJ5edkcBPI/zSuOs00MZX362HrFUrnEaNP18B9H0ape829dCO5VYVbs5Ehf9WIxH0Ozq3l5GwCbWHPsGcUYibx17Sd1qrbrAMl6LTw5WDSczT6okya5eJbo2YwUfrL1pY1cVFJyNCk3PfYI3/O2T8pbeQNCTCG2+meCbI+j2g==" />
    <add key="MySQLDumpOptions" value="--default-character-set=utf8" />
    <add key="ApplicationKey" value="WzoBqWM1ozgC4GtHUWnwp8ruCbT8oYaOia3qdLewaq52hy1vrSv54uP5YdbDJckYXReCjwjF/IvujVt2EyYqgRCg7eyuI+zowYg9f4qPQStyxq02iD0ZXce1P6JuzFMVfDyLRIZFbzS01lKiwG2jL6HKCtk2ekDRbl8HIvA9jPG90PX6HCSw1qxCO9HQI+D1Sh/WhLdXJMcWGrETSN7y8nMi1QJ14nu6Ni13GvkYRhvrMizDTQmmMn2PBPjLY0N9yt4nx2fm5MMZb1qKx1ml9gf/OwEnKI5PEqBC2CSNXPLC3JIdNbPJyjcClv/FDDgBPhzAH/9/DihKzVJjFDQQ5Q==" />
    <add key="SubjectName" value="leandro.software.net" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
